<app-menu></app-menu>
<div id="component">
    <h3>Order List</h3>
    <a routerLink="/order/create">New Order</a>
    <span>  |  </span>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    <table class="table table-sm">
        <tr>
            <th><a (click)="sort('id')" class="clickable">Id</a></th>
            <th><a (click)="sort('customerName')" class="clickable">Customer</a></th>
            <th><a (click)="sort('description')" class="clickable">Description</a></th>
            <th><a (click)="sort('total')" class="clickable">Total</a></th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let o of orders | orderSearch:searchCriteria | sort:sortCriteria:sortAsc">
            <td>{{o.id}}</td>
            <td>{{o.customer.name}}</td>
            <td>{{o.description}}</td>
            <td>{{o.total | currency}}</td>
            <td>
                <a routerLink="/order/detail/{{o.id}}">Detail</a>  |  
                <a routerLink="/order/edit/{{o.id}}">Edit</a>  |  
                <a routerLink="/order/lines/{{o.id}}">Lines</a>
            </td>
        </tr>
    </table>
</div>
