<div id="component">
    <span class="h4">{{pageTitle}}</span>
    <span> | </span>
    <a routerLink="/order/lines/:id">Back to list</a>
    <table *ngIf="orderItem" class="table table-sm">
        <tr>
            <th>Id</th>
            <td><input [(ngModel)]="orderItem.id" type="text" size="5" disabled></td>
        </tr>
        <tr>
            <th>Item</th>
            <td>
                <select [(ngModel)]="orderItem.itemId">
                    <option *ngFor="let i of items" value="{{i.id}}">{{i.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td><input [(ngModel)]="orderItem.quantity" type="number" disabled></td>
        </tr>
        <tr>
            <th>Order</th>
            <td>
                <select [(ngModel)]="orderItem.orderId">
                    <option *ngFor="let o of orders" value="{{o.id}}">{{o.id}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>
    </table>
</div>