<div id="component">
    <span class="h4">{{pageTitle}}</span>
    <span> | </span>
    <a routerLink="/customers/list">Back to list</a>
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <td><input [(ngModel)]="customer.id" type="text" size="5" disabled></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input [(ngModel)]="customer.name" type="text" size="25"></td>
        </tr>
        <tr>
            <th>State</th>
            <td><input [(ngModel)]="customer.state" type="text" size="5"></td>
        </tr>
        <tr>
            <th>Sales</th>
            <td><input [(ngModel)]="customer.sales" type="number" disabled></td>
        </tr>
        <tr>
            <th>Active</th>
            <td><input [(ngModel)]="customer.active" type="checkbox"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>

    </table>
</div>
